.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow-y: hidden;
}

.searchInput {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.acabamentoSelect, .categoriaSelect {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btnFiltro {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}