.container {
    width: 100vw;
    height: 100vh;
    padding: 6.5% 5% 1% 5%;
    position: sticky;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .container{
        flex-direction: column;
        padding: 22% 5% 1% 5%;
    }
}