.barraFiltros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow-y: hidden;
}

.secaoPesquisa {
    display: flex;
    align-items: center;
    gap: 10px;
}

.secaoPesquisa input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btnPesquisa {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.secaoBotoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btnFiltro,
.btnAcoes {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btnLimpar{
    background-color: #007bff;
    color: #fff;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}