.modalContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.modalImage {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/login/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imageContainer {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    padding: 2rem;
    gap: 1rem;

    h1{
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        text-align: start;
        width: 100%;
        overflow: hidden;
    }

    h2 {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 1.5rem;
        text-align: start;
        line-height: 1.4;
        overflow: hidden;
    }
}

.modalContent {
    width: 50%;
    height: 100%;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 7%;
    padding: 2rem;
    overflow: hidden;

    h4 {
        font-weight: 400;
        font-size: 16px;
        color: #000;

        button {
            border: none;
            background-color: transparent;
            font-weight: 700;
            font-size: 16px;
            color: #000;
            text-decoration: none;
            color: #4D00FF;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .close {
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 28px;
    }
}

.formContainer {
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #F5F5F5;

    .loginOptions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 0.5rem 0;

        p {
            font-weight: 400;
            font-size: 16px;
            color: #000;
            background-color: #ffffff;
            padding: .5rem 1rem;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        p:hover {
            background-color: #e4e4e4;
        }

        .active {
            background-color: #4D00FF;
            color: #fff;
        }

        .active:hover {
            background-color: #4D00FF;
        }
    }


    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 70%;

        .inputContainer {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: 100%;

            label {
                font-weight: 400;
                font-size: 16px;
                color: #000;
            }

            input {
                width: 100%;
                padding: 1rem;
                border: 1px solid #0000002f;
                border-radius: 10px;
                background-color: #fff;
                font-size: 16px;
            }

            input:focus {
                outline: none;
                border: 1px solid #4D00FF;
            }
        }

        .loginButton {
            width: 100%;
            font-weight: 350;
            font-size: 16px;
            color: #fff;
            background: #4D00FF;
            border: none;
            border-radius: 10px;
            padding: 1rem 4rem;
            cursor: pointer;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease-in-out;
        }

        .loginButton:hover {
            opacity: 0.8;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            color: #000;

            a {
                font-weight: 700;
                font-size: 16px;
                color: #000;
                text-decoration: none;
                color: #4D00FF;
                transition: all 0.3s ease-in-out;
            }

            a:hover {
                opacity: .8;
                text-decoration: underline;
            }
        }

        .loginForGoogle {
            width: 100%;
            background: #fff;
            border-radius: 10px;
            padding: 1rem;

            .loginWithGoogle {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                padding: .5rem;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                border: none;
                background-color: #F5F5F5;
                border-radius: 5px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .loginWithGoogle:hover {
                background-color: #dadada;
            }
        }
    }
}

.cadastroContainer {
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    background-color: #F5F5F5;

    h4{
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        color: #000;
        text-align: start;
    }
}

.buttonProx{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-bottom: .4rem;
    gap: 1rem;

    button{
        font-weight: 350;
        font-size: 16px;
        color: #fff;
        background: #4D00FF;
        border: none;
        border-radius: 10px;
        padding: .5rem 1rem;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-in-out;
    }

    button:hover{
        opacity: 0.8;
    }
}

@media screen and (max-width: 1919px) {
    .modalHeader {
        h4 {
            font-size: 14px;

            a {
                font-size: 14px;
            }
        }

    }

    .imageContainer{
        padding: 1rem;
        h1{
            font-size: 26px;
        }

        h2{
            font-size: 16px;
        }
    }


    .formContainer {
        padding: .5rem;
        gap: .5rem;
        height: 89%;

        .loginOptions {
            p {
                font-size: 14px;
            }
        }

        form {
            gap: 1rem;

            p{
                font-size: 14px;

                a {
                    font-size: 14px;
                }
            }

            .inputContainer {
                label {
                    font-size: 14px;
                }

                input {
                    font-size: 14px;
                    padding: .8rem;
                }
            }

            .loginButton {
                font-size: 14px;
                padding: .8rem 2rem;
            }
        }
    }
}